@using BlazorPatchDemo.Client.Components

@inherits LayoutComponentBase

<main>
    <div class="bpd-wrapper">
        <header>
            <BpdHeader />
        </header>
        <div>
            @Body
        </div>
        <footer>
            <BpdFooter />
        </footer>
    </div>
</main>
