table {
    width: 90%;
}

table, th, td {
    border: 1px solid #44403C;
    border-collapse: collapse;
}

th {
    padding: 8px 16px;
    text-align: left;
    color: #1C1917;
    background-color: #A8A29E;
}

td {
    padding: 4px 16px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
    margin: 2px 1em;
    width: 7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

button.safe {
    background-color: #15803D;
    color: #DCFCE7;
}

button:hover.safe {
    background-color: #14532D;
    color: #F0FDF4;
}

button.attention {
    background-color: #6D28D9;
    color: #EDE9FE;
}

button:hover.attention {
    background-color: #4C1D95;
    color: #F5F3FF;
}

button.danger {
    background-color: #DC2626;
    color: #FEE2E2;
}

button:hover.danger {
    background-color: #7F1D1D;
    color: #FEF2F2;
}
