<div class="brand">
     <img class="brand-logo" src="logo_64_109.png" height="64" width="109"
          alt="Logo: Javascript symbol on a medical patch"/>
     <div class="brand-name">Blazor Patch Demo</div>
</div>
<div class="menu">
    <div class="menu-item">
        <a class="menu-item" href="swagger" target="_blank">
            <span class="oi oi-plus" aria-hidden="true"></span> Swagger UI
        </a>
    </div>
</div>


@code {
    
}
