@using System.Net
@if (_showPanel)
{
    <Panel Type="Panel.PanelType.Error" Title="Error while interacting with the server">
        <p>@ErrorMessage</p>
        
        @if (StatusCode is not null)
        {
            <p>HttpStatusCode: @StatusCode</p>
        }
        <p></p>
        <button class="safe" @onclick="ClearError">
            Clear Error
        </button>
    </Panel>
}

@code {

    [Parameter, EditorRequired]
    public string ErrorMessage { get; set; } = string.Empty;
    
    [Parameter,EditorRequired]
    public HttpStatusCode? StatusCode { get; set; }

    private bool _showPanel;
    
    protected override void OnParametersSet()
    {
        _showPanel = !string.IsNullOrEmpty(ErrorMessage);
        
        base.OnParametersSet();
    }

    private void ClearError()
    {
        ErrorMessage = string.Empty;
        StatusCode = null;
        _showPanel = false;
    }
}
