/* These seem not to be picked up in the form ...
 * The id for the form element is different 
 * than for the other elements.
 * For now I'll leave them in, just in case.
 */

input.name {
    width: min(40em, 100%);
}

input.description {
    width: 100%;
    height: 96px;
}

input.price {
    width: 6em;
}
