table {
    width: 100%;
    table-layout: fixed;
}

table, th, tr {
    border-collapse: collapse;
}

th {
    padding: 10px 16px;
    text-align: left;
    border: 1px solid #44403C;
    color: #1C1917;
    background-color: #D6D3D1;  /* Tailwind Warm-Gray-300 */
}

tr.under-edit {
    background-color: #BFDBFE;
}

tr.last {
    border: none;
}

td {
    border: 1px solid #44403C;
    padding: 6px 16px;
}

td.overflow-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.last {
    padding: 24px 6px 8px 6px;
    border: none;
}

th.name,
td.name {
    min-width: 15%;
    width: 20%;
}

th.description,
td.description {
    min-width: 45%;
    width: 50%;
}

th.price,
td.price {
    width: 5em;
}

td.price {
    text-align: right;
}

th.actions {
    width: 248px;
}

td.actions {
    padding: 6px 6px;
    width: 248px;
}
